*{margin: 0; padding: 0 ;};

#wrapp {
    width: 1000px;
    margin:  0 auto;
}

.container {
    width: 600px;
    height: 400px;
    margin:  30px auto;
    position: relative;
}

h1{
    text-align: center;
    color: blueviolet; 
    text-decoration-line:underline;    
}

video {
    width: 600px;
    height: 400px;
}

.btnholder {
    width: 600px;
    height: 400px;
    position: absolute;
    
    top: 0;
    left: 0;
}
.btnholder img {
     width: 50px;
     height: 50px;
     position: absolute;
     top: 45%;
     display: none;
}
#play {
     left: 35%;
     
}

#reload {
    left:55%;
}

.btnholder:hover > img {
  display: block;
  
 
}

